<div *ngIf="show" class="fixed inset-0 z-50 flex items-center justify-center visibleBackdrop" style="backdrop-filter: blur(10px); background: var(--primary-backdrop);">
  <div class="w-96 rounded-3xl shadow-2xl p-8 relative" style="background: var(--primary-200); margin-top: 3rem; margin-bottom: 3rem;">
    <h2 class="text-2xl font-bold mb-4" style="color: var(--primary-700);">{{ t('change_password') }}</h2>
    <form (submit)="onSubmit($event)">
      <div *ngIf="requireCurrentPassword" class="mb-4">
        <label for="currentPassword" class="block text-sm font-semibold mb-1" style="color: var(--primary-500);">{{ t('current_password') }}</label>
        <div class="relative">
          <input id="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" class="w-full p-2 rounded border" style="background: var(--primary-100);" placeholder="{{ t('current_password') }}" />
          <i class="ti" [ngClass]="showCurrentPassword ? 'ti-eye-off' : 'ti-eye'" style="position: absolute; right: 0.75rem; top: 50%; transform: translateY(-50%); cursor: pointer;"
             (mousedown)="showCurrentPasswordChange.emit(true)" (mouseup)="showCurrentPasswordChange.emit(false)" (mouseleave)="showCurrentPasswordChange.emit(false)"></i>
        </div>
      </div>
      <div class="mb-4">
        <label for="newPassword" class="block text-sm font-semibold mb-1" style="color: var(--primary-500);">{{ t('new_password') }}</label>
        <div class="relative">
          <input id="newPassword" [type]="showNewPassword ? 'text' : 'password'" class="w-full p-2 rounded border"
                 style="background: var(--primary-100);"
                 (input)="onPasswordInput($event)"
                 (focus)="showPasswordRequirementsChange.emit(true)"
                 (blur)="showPasswordRequirementsChange.emit(false)"
                 placeholder="{{ t('new_password') }}" />
          <i class="ti" [ngClass]="showNewPassword ? 'ti-eye-off' : 'ti-eye'" style="position: absolute; right: 0.75rem; top: 50%; transform: translateY(-50%); cursor: pointer;"
             (mousedown)="showNewPasswordChange.emit(true)" (mouseup)="showNewPasswordChange.emit(false)" (mouseleave)="showNewPasswordChange.emit(false)"></i>
        </div>
        <div class="password-strength-wrapper mt-4 left-16">
          <div class="flex flex-row items-center gap-4">
            <div class="strength-track !w-2/4">
              <div class="strength-bar" [style.width.%]="strengthPercent" [style.background]="strengthColor"></div>
            </div>
            <div class="strength-info !w-1/4 flex items-center justify-center top-24">
              <span class="strength-label">{{ strengthLabel || "..." }}</span>
              <i class="ti ti-info-circle password-info" aria-hidden="true"
                 (mouseenter)="showPasswordRequirementsChange.emit(true)" (mouseleave)="showPasswordRequirementsChange.emit(false)"></i>
            </div>
          </div>
          <div class="password-requirements !top-80 !left-[25rem]" [class.visible]="showPasswordRequirements" role="dialog" [class.hidden]="!showPasswordStatus">
            <ul>
              <li [class.ok]="strengthCriteria.length">{{ t('min_8_chars') }}</li>
              <li [class.ok]="strengthCriteria.lower">{{ t('lowercase_letter') }}</li>
              <li [class.ok]="strengthCriteria.upper">{{ t('uppercase_letter') }}</li>
              <li [class.ok]="strengthCriteria.number">{{ t('number_0_9') }}</li>
              <li [class.ok]="strengthCriteria.special">{{ t('special_char') }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="mb-4">
        <label for="confirmPassword" class="block text-sm font-semibold mb-1" style="color: var(--primary-500);">{{ t('confirm_new_password') }}</label>
        <div class="relative">
          <input id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" class="w-full p-2 rounded border"
                 style="background: var(--primary-100);"
                 (input)="onConfirmPasswordInput($event)"
                 placeholder="{{ t('confirm_new_password') }}" />
          <i class="ti" [ngClass]="showConfirmPassword ? 'ti-eye-off' : 'ti-eye'" style="position: absolute; right: 0.75rem; top: 50%; transform: translateY(-50%); cursor: pointer;"
             (mousedown)="showConfirmPasswordChange.emit(true)" (mouseup)="showConfirmPasswordChange.emit(false)" (mouseleave)="showConfirmPasswordChange.emit(false)"></i>
        </div>
        <div class="password-status hidden absolute">
          <small class="text-danger" style="color: red;">{{ t('passwords_do_not_match') }}</small>
        </div>
      </div>
      @if (error) {
        <div class="text-red-600 text-sm mt-8"> {{ error }} </div>
      } @else if (success) {
        <div class="text-green-600 text-sm mt-8">{{ success }}</div>
      }
      <div class="flex justify-end gap-4 mt-6">
        <button type="button" class="btn btn-secondary" (click)="closeModal($event)" [disabled]="loading">{{ t('cancel') }}</button>
        <button type="submit" class="btn btn-primary" style="background: var(--gradient-primary)" [disabled]="isChangePasswordDisabled || loading">
          <span>{{ t('save') }}</span>
        </button>
      </div>
    </form>
  </div>
</div>
