<div style="display: table; width: 100%; min-height: 60vh; background: linear-gradient(135deg, {{primary_100}} 0%, {{primary_200}} 100%); font-family: Fredoka, Trebuchet MS, Helvetica, Arial, sans-serif;">
    <div style="display: table-row; height: 100%; width: 100%">
        <div style="display: table-cell; vertical-align: middle; text-align: center;">
            <div style="margin-left: 2rem; margin-right: 2rem;">
                <div style="margin: 2rem auto; padding: 2rem; border-radius: 1rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); text-align: center; background: {{primary_200_40}}; width: 80%; min-height: 200px; border-color: {{primary_100_40}}; border-style: solid; backdrop-filter: blur(10px); border: 1px solid {{glass_border}}; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); border-radius: 1.5rem;">
                    <img src="https://i.imgur.com/lSHl47F.png" alt="Rarecips Logo" style="height: 40%; width: 40%; margin-bottom: 2rem; margin-top: 2rem; display: block; margin-left: auto; margin-right: auto;"> <!--TODO: dynamic logo src="\apo{baseUrl}\apo/assets/img/Rarecips_Iconologo.png"-->
                    <div style="margin: 0 auto; text-align: center; background: {{primary_200}}; border-radius: 1rem; padding: 2rem; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 60%; min-height: 200px; height: auto; display: table;">
                        <div style="display: table-row; height: 50px;">
                            <span style="display: table-cell; color: {{primary_text}}; font-weight: bold; font-size: larger; vertical-align: middle;">{{hey_user_password_change}}</span>
                        </div>
                        <div style="display: table-row; height: 30px;">
                            <a href="{{passwordChangeLink}}" style="display: inline-block; text-decoration: none; border-radius: 1rem; font-weight: 600; transition: all 0.3s ease; cursor: pointer; border: none; background: {{gradient_primary}}; font-family: Fredoka, Helvetica Neue, Helvetica, Arial, sans-serif; color: white; padding: 1rem 2rem; font-size: 1.125rem; margin: 2rem 0; text-decoration: none;">{{change_password_button}}</a>
                        </div>
                        <div style="display: table-row; height: 20px;">
                            <span style="display: table-cell; color: {{primary_text}}; font-weight: bold; font-size: larger; vertical-align: middle;">{{or}}</span>
                        </div>
                        <div style="display: table-row; height: 30px;">
                            <a href="{{passwordChangeLink}}" style="display: table-cell; font-size: medium; color: {{primary_600}}; text-decoration: underline; vertical-align: middle; padding: 1.5rem 0;">{{passwordChangeLink}}</a>
                        </div>
                        <div style="display: table-row; height: 30px;">
                            <div style="display: table-cell; font-size: medium; color: {{primary_text}}; font-weight: bold; vertical-align: middle; margin-top: 2rem; margin-bottom: 2rem;">{{ignore_text}}</div>
                        </div>
                        <div style="display: table-row; height: 20px;">
                            <div style="display: table-cell; font-size: small; color: {{primary_text}}; font-weight: normal; vertical-align: middle; margin-top: 3rem; margin-bottom: 0.5rem; text-align: right; padding-top: 2rem;">{{timestamp}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


